﻿@model FriendBills.Presentation.ViewModels.PaymentViewModel

@{
    ViewData["Title"] = "Cadastrar";
}

<h2>Cadastrar</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Pagamento</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="BillId" class="col-md-2 control-label">Conta</label>
            <div class="col-md-10">
                @Html.DropDownList("BillId", "--Selecione--")
                @Html.ValidationMessageFor(model => model.BillId, "", new { @class = "text-danger" })
                <span asp-validation-for="BillId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PersonId" class="col-md-2 control-label">Usuário pagante</label>
            <div class="col-md-10">
                @Html.DropDownList("PersonId", "--Selecione--")
                @Html.ValidationMessageFor(model => model.PersonId, "", new { @class = "text-danger" })
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Date" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Amount" class="col-md-2 control-label">Valor</label>
            <div class="col-md-10">
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Gravar" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Voltar", "Details", "Bill", new { id = @ViewBag.BillId_Detail })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
