﻿@model IEnumerable<FriendBills.Presentation.ViewModels.PaymentViewModel>

@{
    ViewData["Title"] = "Listagem de pagamentos";
}

<h2>Listagem de pagamentos</h2>

<p>
    <a asp-action="Create">Cadastrar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Details", new { id=item.PaymentId }) |
                @Html.ActionLink("Excluir", "Delete", new { id=item.PaymentId })
            </td>
        </tr>
}
    </tbody>
</table>
