﻿@model FriendBills.Presentation.ViewModels.BillViewModel

@{
    ViewData["Title"] = "Cadastrar";
}

<h2>Cadastrar</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Conta entre amigos</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Date" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Total" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PersonId" class="col-md-2 control-label">Usuário criador</label>
            <div class="col-md-10">
                @Html.DropDownList("PersonId", "--Selecione--")
                @Html.ValidationMessageFor(model => model.PersonId, "", new {  @class = "text-danger"  })
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FriendGroupId" class="col-md-2 control-label">Grupo de amigos</label>
            <div class="col-md-10">
                @Html.DropDownList("FriendGroupId", "--Selecione--")
                @Html.ValidationMessageFor(model => model.FriendGroupId, "", new { @class = "text-danger" })
                <span asp-validation-for="FriendGroupId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Gravar" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
