﻿@model FriendBills.Presentation.ViewModels.BillViewModel

@{
    ViewData["Title"] = "Detalhe";
}

<h2>Detalhe</h2>
<p>
    @if (Model.IsPaid == false)
    {
        <a asp-action="Index">Voltar |</a>
        @Html.ActionLink("Editar", "Edit", new { id = Model.BillId }) @:|
        @Html.ActionLink("Registrar pagamento", "Create", "Payment", new { id = Model.BillId })
    }
    else
    {
        <a asp-action="Index">Voltar</a>
    }
</p>

<div>
    <h4>Conta entre amigos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt>
            @Html.DisplayName("Quitada?")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPaid)
        </dd>
        <dt>
        @Html.DisplayName("Usuário")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.NickName)
        </dd>
        <dt>
            @Html.DisplayName("Grupo de amigos")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FriendGroup.Name)
        </dd>
    </dl>
</div>
<div>
    <br />
    <h4>Dados de pagamentos realizados</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Pagante")
                </th>
                <th>
                    @Html.DisplayName("Valor")
                </th>
                <th>
                    @Html.DisplayName("Data")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Payments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.LastName), @Html.DisplayFor(modelItem => item.Person.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

