﻿@model IEnumerable<FriendBills.Presentation.ViewModels.BillViewModel>

@{
    ViewData["Title"] = "Lista de Contas";
}

<h2>Lista de Contas</h2>

<p>
    <a asp-action="Create">Cadastrar nova</a>
</p>
<p>
    Filtro de contas:
    <a asp-action="Index">todas</a>
     | 
    <a asp-action="GetPaidBills">pagas</a>
     | 
    <a asp-action="GetNotPaidBills">em aberto</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayName("Quitada?")
                </th>
                <th>
                    @Html.DisplayName("Usuário")
                </th>
            <th>
                @Html.DisplayName("Grupo de amigos")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FriendGroup.Name)
            </td>
            <td>
                @if (item.IsPaid == false) { 
                    @Html.ActionLink("Editar", "Edit", new { id = item.BillId }) @:|
                    @Html.ActionLink("Detalhes", "Details", new { id = item.BillId }) @:|
                    @Html.ActionLink("Excluir", "Delete", new { id = item.BillId });
                }
                else
                {
                    @Html.ActionLink("Detalhes", "Details", new { id = item.BillId })
                }
            </td>
        </tr>
}
    </tbody>
</table>
