﻿@model FriendBills.Presentation.ViewModels.PersonGroupViewModel

@{
    ViewData["Title"] = "Adicionar";
}

<h2>Adicionar</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Usuário ao Grupo</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FriendGroupId" class="col-md-2 control-label">Grupo de amigos</label>
            <div class="col-md-10">
                @Html.DropDownList("FriendGroupId", "--Selecione--")
                @Html.ValidationMessageFor(model => model.FriendGroupId, "", new { @class = "text-danger" })
                <span asp-validation-for="FriendGroupId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PersonId" class="col-md-2 control-label">Usuário</label>
            <div class="col-md-10">
                @Html.DropDownList("PersonId", "--Selecione--")
                @Html.ValidationMessageFor(model => model.PersonId, "", new { @class = "text-danger" })
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Adicionar" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Voltar", "Details", "Group", new { id = @ViewBag.GroupId_Detail })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
