﻿@model FriendBills.Presentation.ViewModels.FriendGroupViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Cadastrar</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Grupo de amigos</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Person" class="col-md-2 control-label">Dono do Grupo</label>
            <div class="col-md-10">
                @Html.DropDownList("PersonId", "--Selecione--")
                @Html.ValidationMessageFor(model => model.Person.PersonId, "", new { @class = "text-danger" })
                <span asp-validation-for="Person" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Gravar" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
