﻿@model FriendBills.Presentation.ViewModels.FriendGroupViewModel

@{
    ViewData["Title"] = "Detalhe";
}

<h2>Detalhe</h2>
<p>
        <a asp-action="Index">Voltar |</a>
        @Html.ActionLink("Editar", "Edit", new { id = Model.FriendGroupId }) |
        @Html.ActionLink("Adicionar Pessoa", "Create", "PersonGroup", new { id = Model.FriendGroupId })
</p>
<div>
    <h4>Grupo de amigos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nome do grupo")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
                @Html.DisplayName("Criador")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Person.LastName), @Html.DisplayFor(model => model.Person.FirstName)
            </dd>
        </dl>
    </div>
<div>
    <br />
    <h4>Usuários neste grupo</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Nome")
                </th>
                <th>
                    @Html.DisplayName("Sobrenome")
                </th>
                <th>
                    @Html.DisplayName("Apelido")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PersonsGroup)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.LastName),
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.NickName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
