﻿@model IEnumerable<FriendBills.Presentation.ViewModels.FriendGroupViewModel>

@{
    ViewData["Title"] = "Lista de Grupos";
}

<h2>Lista de Grupos</h2>

<p>
    <a asp-action="Create">Cadastrar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayName("Nome do Grupo")
                </th>
                <th>
                    @Html.DisplayName("Criador")
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.LastName), @Html.DisplayFor(modelItem => item.Person.FirstName)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id = item.FriendGroupId }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.FriendGroupId }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.FriendGroupId })
            </td>
        </tr>
}
    </tbody>
</table>
