﻿@model IEnumerable<FriendBills.Presentation.ViewModels.PersonViewModel>

@{
    ViewData["Title"] = "Lista de Usuários";
}

<h2>Lista de Usuários</h2>

<p>
    <a asp-action="Create">Cadastrar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NickName)
                </th>
                <th>
                    @Html.DisplayName("Ativo?")
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.PersonId }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.PersonId }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.PersonId })
            </td>
        </tr>
}
    </tbody>
</table>
